.footer {
    padding-top: 25px;
    padding-bottom: 60px;
    .copyright {
        font-size: 12px;
        line-height: 1.833;
    }
    .contacts {
        font-size: 12px;
        line-height: 1.833;
    }
    .counter {
        img {
            display: block;
            margin-left: auto;
            &:nth-child(1) {
                margin-bottom: 10px;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .footer {
        padding-bottom: 40px;
        text-align: center;
        .copyright {
            font-size: 16px;
            padding-bottom: 10px;
        }
        .contacts {
            font-size: 16px;
            padding-bottom: 10px;
        }

        .counter {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            img {
                margin-left: 0;
                &:nth-child(1) {
                    margin-bottom: 0px;
                }
            }
        }
    }
}
