.color-palette-wrap {
    .palette {
        display: flex;
        &__top {
            min-width: 100px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            span {
                display: inline-block;
                width: 153px;
                font-size: 18px;
                font-weight: 700;
                padding-top: 18px;
                padding-left: 15px;
            }
        }
        .color-palette {
            margin-top: 8px;
            margin-left: 12px;
            position: relative;
            img {
                border-radius: 6px;
                border: 2px solid transparent;
                cursor: pointer;
                &:hover {
                    border: 2px solid #780001;
                    transition: border 0.5s ease;
                }
            }
        }
    }
}

.palette__main img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
.palette__description {
    margin: 20px -15px 0;
    span {
        font-weight: 300;
        font-size: 18px;
        line-height: 1.222;
    }
}

.dream-hause {
    &__title {
        padding-bottom: 30px;
        font-size: 30px;
        line-height: 0.733;
    }
    &__body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: -15px;
    }
    .dream-hause__item-wrap {
        padding: 15px;
        @include media-breakpoint-up(xl) {
            width: 15%;
        }
        @include media-breakpoint-only(lg) {
            width: 15%;
        }
        @include media-breakpoint-only(md) {
            width: 25%;
        }
        @include media-breakpoint-only(sm) {
            width: 30%;
        }

        @include media-breakpoint-only(xs) {
            width: 50%;
        }
    }
    //dream-hause__body
    /*     .dream-hause__item {
    }
    .dream-hause__item-title {
    }
    .dream-hause__item-logo {
    } */
    .dream-hause__item-logo-image {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    &__line {
        background-color: rgb(184, 184, 189);
        margin-top: 40px;
        width: 100%;
        height: 1px;
    }
}
