// Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:600|Roboto:300,400,700&display=swap&subset=cyrillic");
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;

// Color
$c-light: #fff;
$body-bg: #e9ecf1;
$color-text: #414141;

body {
    background-color: $body-bg;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 1;
    color: $color-text;
}

.invoice {
    position: relative;
    &__title {
        font-weight: 300;
        font-size: 12px;
        margin-top: 6px;
    }
    &__interest {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(50%, 50%);
        font-size: 30px;
        color: $c-light;

        &-light {
            color: darken($body-bg, 50%);
        }
    }
}
